<% @invoices.each do |invoice| %>
  <strong><a href="/tasks/?invoice=<%= invoice.id %>"><%= invoice.id %></a></strong> ---- <%= link_to "Delete", "/invoices/#{ invoice.id }", method: :delete %>
<% end %>