<div>
  <a href="/customers/new">New Customer</a>
</div>
<br>
<% @customers.each do |customer| %>
  <div>
    <strong><a href="/customers/<%= customer.id %>"><%= customer.last_name %>, <%= customer.first_name %></a></strong>
  </div>
  <div>
    <%= customer.index_address %>
  </div>
  <br>
<% end %>